
/* General website design code */
body {
    background-color:black;
    color:white;
    background-image: url(https://wallpapers.com/images/featured/nature-2ygv7ssy2k0lxlzu.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body, footer, h1 {
    text-align: center;
}

form {
    text-align: left;
}

footer {
    font-size: 10px;
    color: #efff09e7
}

h1 {
  font-family: "Sirin Stencil", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: xx-large;
}

h2 {
  font-family: "Sirin Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  letter-spacing: 5px;
}

#main {
  border: 2px solid #358507;
  background-color: black;
  border-radius: 10px;
  padding: 30px;
  display: inline-block;
  box-shadow: 0 0 40px #06801a;
  margin: 40px auto;
  max-width: 900px;
}

/*Google Fonts*/

body {
  font-family: "Sirin Stencil", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: large;
}

/* /* NEW STYLES / */

p {
    line-height: normal;
    margin-bottom: 1.1em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#main input,
#main select {
    padding: 8px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #5a8c19;
    background-color: #a2cb7e;
    color: #000000;
}

button {
    cursor: pointer;
    font-family: "Sirin Stencil", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 20px auto;
    background-color: #0ccf36;
}

button:hover {
    filter: brightness(1.6);
    transition: 0.3s;
}



#state,
#county {
    background-color: #65b306;
    color:#f5f5f5
}

#city,
#latitude,
#longitude {
    font-style: italic;
}

img {
    border-radius: 10px;
}

#signupForm input,
#signupForm select {
    padding: 10px;
}

input[type="radio"] {
    transform: scale(1.3);
    cursor: pointer;
}

#signupForm input:hover {
    filter: brightness(1.2);
    transition: 0.4s;
}

#signupForm input,
#signupForm select {
    font-size: 1.1rem;
    font-weight: 540;
}